{% extends 'weatherData.html' %}

{% block login %}
<div class="login-container">
    <div class="form-box">
        <h1>Log In</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Log In</button>
        </form>
    </div>    
</div>
    
{% endblock login %}