

{% extends 'weatherData.html' %}

{% block newCity %}

    <div class="head-container">
        <div class="inner-container">
            <h1><span>We</span>ather App</h1>
            <h6 class="add-note"><span>*</span> - 
                selected cities are available. Ensure you add well known city.
            </h6>
            {% if user.is_authenticated %}
                <form action="" method="POST" class="new-form">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" class="submit_btn" value="Add City">
                </form>
            {% else %}
                <h3>Guys login to add a new city</h3>
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </div>

{% endblock newCity %}







