

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="{% static 'swiper.min.css' %}">
    <link href="{% static 'index.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'weatherStyle.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'form.css' %}" rel="stylesheet" type="text/css">
    <link rel = "icon" href ="{% static 'weather.jfif' %}" type = "image/x-icon"> 

</head>

<body>
    {% block newCity %}
    {% endblock newCity %}
    {% block weatherdata %}
    {% endblock weatherdata %}
    {% block login %}
    {% endblock login %}
</body>
</html>





