{% extends 'weatherData.html' %}
{% load static %}
{% block weatherdata %}
    <div class="home-container">
        <div class="home-box">
            <div class="logo-box">
                <div class="logo-imgBx">
                    <img src="{% static 'weather.jfif' %}">
                </div>
                <h1 class="logo-name"><span>We</span>ather App</h1>
            </div>
            <div class="content-container">
                <h1 class="presentation-text">Python Assignment by<br/> BE-EEE Students</h1>                
                <p id="note"><span>*</span> - slide photos to know more</p>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" id="each-pic">
                            <div class="student-imgBX">
                                <img src="{% static '1.jpg' %}">
                            </div>
                            <div class="student-info">
                                <h3>Ambrish S</h3>
                                <h4>18E104</h4>
                                <p>BE-EEE 2<sup>nd</sup> year</p>
                            </div>
                        </div>
                        <div class="swiper-slide" id="each-pic">
                            <div class="student-imgBX">
                                <img src="{% static '2.jpg' %}">
                            </div>
                            <div class="student-info">
                                <h3>Muralidharan M</h3>
                                <h4>18E133</h4>
                                <p>BE-EEE 2<sup>nd</sup> year</p>
                            </div>
                        </div>
                        <div class="swiper-slide" id="each-pic">
                            <div class="student-imgBX">
                                <img src="{% static '3.jpg' %}">
                            </div>
                            <div class="student-info">
                                <h3>Umesh B</h3>
                                <h4>18E157</h4>
                                <p>BE-EEE 2<sup>nd</sup> year</p>
                            </div>
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="weather">
        <div class="add">
            {% if user.is_authenticated %}
                <a href="{% url 'new' %}" class="add-item">Add Item</a>
                <a href="{% url 'logout' %}">Log Out</a>
            {% else %}
                <a href="{% url 'login' %}">Login to add city</a>
            {% endif %}
        </div>
        <div class="container">
            {% for city_weather in weatherData %}
            <div class="cityBox">
                <div class="icon">
                    <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png">
                </div>
                <div class="contentBX">
                    <h1 class="city">{{ city_weather.city }}</h1>
                    <h3 class="temperature"><span>{{ city_weather.temperature }}</span><sup>o</sup>F</h3>
                    <p class="humidity">Humidity: {{ city_weather.humidity }}</p>
                    <p class="description">{{ city_weather.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
	<script type="text/javascript" src="{% static 'vanilla-tilt.js' %}"></script>
	<script type="text/javascript">
		VanillaTilt.init(document.querySelectorAll(".cityBox"), {
			max: 25,
			speed: 400
		});
		
    </script>
    <script src="{% static 'swiper.min.js' %}"></script>
      
    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper('.swiper-container', {
        effect: 'coverflow',
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: 'auto',
        coverflowEffect: {
          rotate: 25,
          stretch: 0,
          depth: 100,
          modifier: 1,
          slideShadows : true,
        },
        pagination: {
          el: '.swiper-pagination',
        },
      });
    </script>
{% endblock %}